* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 50px;
  font-family: "Ubuntu Mono", monospace;
}

.container.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-family: "Walter Turncoat", sans-serif;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-grid-size,
.btn-rainbow-pen {
  margin-bottom: 20px;
}

.btn-grid-size,
.btn-black-pen,
.btn-rainbow-pen,
.btn-eraser,
.btn-reset {
  padding: 10px;
  border: 1px solid;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
}

.btn-grid-size:hover,
.btn-black-pen:hover,
.btn-rainbow-pen:hover,
.btn-eraser:hover,
.btn-reset:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transform: translateX(10px);
  transition: all 0.25s;
}

.container.right {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
  border: 1px solid;
}

.grid:hover {
  cursor: crosshair;
}

footer a {
  color: rgb(0, 0, 0);
}
